/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Mulish", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utilities Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.lead-body {
  color: #737373;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 2;
}

.icon-style {
  width: 40px;
  height: 40px;
  color: #fff;
  background: black;
  border-radius: 50%;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 0.5em;
}

.icon-style:hover {
  transform: scale(1.1) rotate(360deg);
}

.search-icon::before {
  content: "\e090";
  font-family: "simple-line-icons";
}

.dots::before {
  content: "\e603";
  font-family: "simple-line-icons";
  margin-right: 1em;
  vertical-align: middle;
}

.btn .dots::before {
  margin-right: 0.5em;
}

.primary-header {
  font-family: "cinzel", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.primary-header::after {
  content: "";
  width: 35px;
  background: black;
  display: block;
  height: 4px;
  margin: 0.5em auto 1.5em;
  border-radius: 50px;
}

.btn {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1em;
}

.btn-dark {
  background: black;
  color: white;
}

.btn-light {
  background-color: white;
  color: black;
}

.card {
  width: 40%;
  padding: 2em;
  background: black;
  position: absolute;
  top: 85%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 80px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.main-nav {
  width: 70%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-item > a {
  padding: 1em 0.5em;
}

.handbag-item {
  position: relative;
}

.count-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 0.7rem;
  background: black;
  color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0.7em;
  display: grid;
  place-content: center;
}

/* Hero Section */
.section-hero {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url("../images/salon-main-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
}

.hours {
  position: absolute;
  top: 50%;
  right: -160px;
  transform: rotate(90deg);
  font-family: "cinzel", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: white;
  display: block;
  white-space: unset;
  text-transform: uppercase;
}

.text-content {
  position: relative;
  width: 60%;
  font-family: "cinzel", sans-serif;
  padding: 10em 0;
  color: #f1f1f1;
}

.main-header-text {
  font-family: "cinzel", sans-serif;
  font-size: 7em;
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  letter-spacing: 4px;
}

/* Section 3-column */
.three-column {
  padding: 10em 0 5em;
}

.box {
  text-align: center;
  flex-basis: 32%;
  padding: 0 2em;
}

.box-header {
  font-family: "cinzel", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.img-icon {
  display: inline-block;
}

/* Video Section */
.video-section {
  background-color: #f3f4f6;
  padding: 5em 0;
}

.video-text-content {
  flex-basis: 50%;
  padding-right: 5em;
}

.video-header {
  font-family: "cinzel", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.video-body {
  margin-bottom: 2em;
}

.video-image-box {
  position: relative;
  display: flex;
  align-items: center;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Stylers And Promo Section */
.styler-box {
  flex-basis: 23%;
  text-align: center;
  font-family: "cinzel", sans-serif;
  position: relative;
}

.styler-box > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}

.styler-box > p {
  font-size: 0.8rem;
  font-family: "mulish", sans-serif;
  text-transform: uppercase;
}

.styler-social-links {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.styler-img {
  transition: opacity 0.3s ease-in-out;
}

.styler-box:hover > .styler-social-links {
  visibility: visible;
  opacity: 1;
}

.styler-box:hover > .styler-img {
  opacity: 0.5;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
